.index-section{
	.container {
		padding: 2em 0;
	}
	.index-title {
		background: #1B78C3;
		h2 {
			line-height: 2;
		    font-weight: 400;
		    text-align: center;
		    padding: 0;
		    margin: .9em 0 .7em;
		    span {
				display: inline-block;
				padding: 0 1em;
		    }
		}
	}
	@media(max-width: @container-sm-max) {
		.container {
			padding: 1em 0;
		}
		.index-title {
			h2 {
				font-size: 1.4em;
				padding: 0 .6em;
			}
		}
	}
	@media(max-width: @container-xs-max) {
		.index-title {
			h2 {
				font-size: 1.1em;
			}
		}
	}
}


.index-banner {
	background: @color url(../images/background.png) no-repeat center center;
	background-size: cover;
	.index-content{
		background: rgba(0,0,0,0.3) url(../images/filter.png) repeat;
		overflow: hidden;
		text-align: center;
		color: #fff;
		line-height: 1.4;
		.banner{
			margin:  11.54em 0 16.38em 0;
		}
		h1 {
			margin: 0;
			font-weight: normal;
			font-size: xx-large;
			font-size: xxx-large;
			font-size: -webkit-xxx-large;
		}
		.btn {
			margin-top: 2em;
			display: inline-block;
		}
		a {
			.transition-all;
			&:extend(.none-select all);
			padding: .4em 1.6em;
			display: inline-block;
			margin-bottom: 0;
			text-align: center;
			vertical-align: middle;
			touch-action: manipulation;
			cursor: pointer;
			border: 1px solid transparent;
			white-space: nowrap;
			line-height: 1.42857;
			border-radius: 5px;
			text-decoration: none;
			background: lighten(#e52e6d, -5%);
			font-size: x-large;
			color: #fff;
			&:hover {
				background: #e52e6d;
    			border-color: lighten(#e52e6d, -5%);
			}
		}
	}


	@media(max-width: @container-sm-max) {
		.index-content{
			.banner {
				margin:  8.86em 0 10.71em 0;
			}
			h1 {
				font-size: xx-large;
			}
			a {
				font-size: large;
			}
		}
	}
	@media(max-width: @container-xs-max) {
		.index-content{
			.banner {
				margin:  3.5em 0 4em 0;
			}
			h1 {
				font-size: x-large;
			}
			.btn {
				margin-top: 1em;
			}
			a {
				font-size: large;
			}
		}
	}

	.index-content{
		.banner {
			@media(min-width: 200px) {
				margin:  1.20em 0 1.83em 0;
			}
			@media(min-width: 230px) {
				margin:  1.73em 0 2.36em 0;
			}
			@media(min-width: 260px) {
				margin:  2.26em 0 2.88em 0;
			}
			@media(min-width: 290px) {
				margin:  2.79em 0 3.41em 0;
			}
			@media(min-width: 320px) {
				margin:  3.31em 0 3.94em 0;
			}
			@media(min-width: 350px) {
				margin:  3.84em 0 4.47em 0;
			}
			@media(min-width: 380px) {
				margin:  4.37em 0 5.00em 0;
			}
			@media(min-width: 410px) {
				margin:  4.90em 0 5.52em 0;
			}
			@media(min-width: 440px) {
				margin:  5.43em 0 6.05em 0;
			}

			@media(min-width: 450px) {
				margin:  3.26em 0 6.71em 0;
			}
			@media(min-width: 500px) {
				margin:  4.14em 0 7.59em 0;
			}
			@media(min-width: 550px) {
				margin:  5.02em 0 8.47em 0;
			}
			@media(min-width: 600px) {
				margin:  5.90em 0 9.35em 0;
			}
			@media(min-width: 650px) {
				margin:  6.77em 0 10.23em 0;
			}
			@media(min-width: 700px) {
				margin:  7.65em 0 11.11em 0;
			}
			@media(min-width: 750px) {
				margin:  8.53em 0 11.99em 0;
			}

			@media(min-width: 790px) {
				margin:  7.86em 0 12.71em 0;
			}
			@media(min-width: 890px) {
				margin:  9.70em 0 14.54em 0;
			}
			@media(min-width: 990px) {
				margin:  11.54em 0 16.38em 0;
			}
			@media(min-width: 1090px) {
				margin:  13.38em 0 18.22em 0;
			}
			@media(min-width: 1190px) {
				margin:  15.22em 0 20.06em 0;
			}
			@media(min-width: 1290px) {
				margin:  17.05em 0 21.90em 0;
			}
			@media(min-width: 1390px) {
				margin:  18.89em 0 23.74em 0;
			}
			@media(min-width: 1490px) {
				margin:  20.73em 0 25.57em 0;
			}
			@media(min-width: 1590px) {
				margin:  22.57em 0 27.41em 0;
			}
			@media(min-width: 1690px) {
				margin:  24.41em 0 29.25em 0;
			}
			@media(min-width: 1790px) {
				margin:  26.24em 0 31.09em 0;
			}
			@media(min-width: 1890px) {
				margin:  28.08em 0 32.93em 0;
			}
			@media(min-width: 1990px) {
				margin:  29.92em 0 34.76em 0;
			}
			@media(min-width: 2090px) {
				margin:  31.76em 0 36.60em 0;
			}
			@media(min-width: 2190px) {
				margin:  33.60em 0 38.44em 0;
			}
			@media(min-width: 2290px) {
				margin:  35.44em 0 40.28em 0;
			}
			@media(min-width: 2390px) {
				margin:  37.27em 0 42.12em 0;
			}
			@media(min-width: 2490px) {
				margin:  39.11em 0 43.96em 0;
			}
			@media(min-width: 2590px) {
				margin:  40.95em 0 45.79em 0;
			}
			@media(min-width: 2690px) {
				margin:  42.79em 0 47.63em 0;
			}
			@media(min-width: 2790px) {
				margin:  44.63em 0 49.47em 0;
			}
			@media(min-width: 2890px) {
				margin:  46.47em 0 51.31em 0;
			}
			@media(min-width: 2990px) {
				margin:  48.30em 0 53.15em 0;
			}
			@media(min-width: 3090px) {
				margin:  50.14em 0 54.99em 0;
			}
			@media(min-width: 3190px) {
				margin:  51.98em 0 56.82em 0;
			}
		}
	}
}

.index-service {
	@color: #333;
	.index-title {
		color: #fff;
	}
	.container{
		overflow: hidden;
	}
	ul {
		padding:2em 0 1em 0;
		margin:0 -2% 0 0;
		list-style: none;
		&:extend(.clear all);
		li {
			background: #fff;
			background: rgba(255, 255, 255, .9);
			text-align: center;
			display: block;
			float: left;
			width: 27.3333%;
			margin: 0 2% 2% 0;
			padding: 2.5% 2% 2% 2%;

			a {
				color: @color;
				display: block;
			}


			.icon {
				i {
    				padding: 20px;
    				display: inline-block;
    				border-radius: 50%;
    				width: 48px;
    				height: 48px;
    				text-align: center;
    				font-size: 40px;
    				line-height: 48px;
    				.transition-all;
				}
			}

			&:hover .icon i{
				color: #fff;
			}

			.i-color(@color) {
				.icon i{
					background-color: hsl(hue(@color), saturation(@color), 91%);
    				color: @color;
				}
				&:hover .icon i{
					background-color: @color;
					color: #fff;
				}
			}

			.i-color(#FB5CA3);

			&.i-0 {
				.i-color(#00c0ef);
			}
			&.i-1 {
				.i-color(#00a65a);
			}
			&.i-2 {
				.i-color(#f39c12);
			}
			&.i-3 {
				.i-color(#dd4b39);
			}
			&.i-4 {
				.i-color(#605ca8);
			}
			&.i-5 {
				.i-color(#795548);
			}



			h3 {
				font-size: 1.4em;
				line-height: 1.618;
				margin: 0;
				padding: 0;
				font-weight: 400;
				a {
					text-decoration: none;
					padding: .6em 0 .3em;
					display: block;
				}
			}
			p {
				margin: 0;
				padding: 0;
				line-height: 1.8;
				font-size: 15px;
				height: 5.1em;
				overflow:hidden;
				color:hsl(hue(@color), saturation(@color), (lightness(@color) + 22%));
			}
		}
	}
	@media(max-width: @container-sm-max) {
		.index-content {
			.container {
				padding: 0;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				padding:4%;
				margin: 0;
				width: 42%;
			}
		}
	}
	@media(max-width: @container-xs-max) {
		ul {
			li {
				float: none;
				width:auto;
				padding:8% 8%;
				margin:0;
			}
		}
	}
	@media(min-width: @container-lg-min) {
		ul {
			li {
    			padding: 4.5% 2.5% 3.5% 2.5%;
				width: 26.3333%;
				.icon {
					i {
	    				width: 64px;
	    				height: 64px;
	    				font-size: 54px;
	    				line-height: 64px;
					}
				}
			}
		}
	}
}








.index-project {

	@background-color: #333;
	background: @background-color;
	.index-title {
		display: none;
	}
	.container{
		padding: 1em 0;
	}
	ul {
		margin: .7em 0 0 0;
		padding: 0;
		list-style: none;
		&:extend(.clear all);
		li {
			display: block;
			float: left;
			width: 11.5%;
			margin: 0;
			padding: 0 .5%;
			text-align: center;
			.logo {
				background: #fff;
				background: -webkit-gradient(linear,0 0,0 100%,from(#fff), to(#f1f1f1));
				background: gradient(linear,0 0,0 100%,from(#fff), to(#f1f1f1));
				background: -moz-linear-gradient(#fff, #f1f1f1);
				background: -o-linear-gradient(#fff, #f1f1f1);
				background: linear-gradient(#fff, #f1f1f1);
				position: relative;
				margin: 0 auto;
				width: 64px;
				height: 64px;
				overflow: hidden;
				vertical-align: middle;
				text-align: center;
				border-radius: 10%;
				&:hover, &:focus{
					a:before {
						visibility: visible;
						opacity:1;
					}
				}

				a {
					display: block;
					position: relative;
					width: 100%;
					height: 100%;
				}

				a:before {
					.transition-all;
					content: "";
					color: #000;
					visibility: hidden;
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, 0.1);
					opacity:0;
					position:absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					z-index: 1;
					border-radius: 10%;
				}


				img {
					margin: auto;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					max-width: 100%;
					max-height: 100%;
				}
			}
			h3 {
				padding: 0;
				margin: 0;
				font-size: small;
				line-height: 2;
				font-weight: normal;
				color: #fff;
				a {
					color: #fff;
					&:hover,&:focus{
						text-decoration: none;
					}
				}
			}
			p {
				display: none;
			}
		}
	}


	@media(max-width: @container-sm-max) {
		ul {
			li {
				width: 24%;
			}
		}
	}
}






